// ==============
// Arrows classes
// ==============

$degree: 45deg;

.arrow-switcher {
    @include transition-desktop;

    cursor:pointer;
    width: $arrow-width;
    height: $arrow-height;
    top: $arrow-position-top;
    margin-top: -$arrow-height;
    opacity: $arrow-opacity;
    position: fixed;
    z-index: 2030;

    background-color: $arrow-background;
    font: {
        family: Arial, sans-serif;
        size: $arrow-size;
        weight: bold;
    }

    &:hover {
        opacity: 1.0;
    }

    &:after {
        @include rotate(-$degree);
    }

    &:before {
        @include rotate($degree);
    }

    &:before, &:after {
        background: $arrow-foreground;
        -moz-border-radius: 0.25em;
        -webkit-border-radius: 0.25em;
        border-radius: 0.25em;
        content: "";
        display: block;
        height: 0.5em;
        position: absolute;
        right: 0;
        top: 50%;
        width: 1em;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.arrow-left {
    @extend .arrow-switcher;
    @include border-radius($arrow-flat-radius $arrow-flat-round $arrow-flat-round $arrow-flat-radius);
    left: -($arrow-width - 45);

    &:hover {
        left: 0;
    }

    &:after {
        margin-top: -.36em
    }

    &:before, &:after {
        left: 5px;
    }
}

.arrow-right {
    @extend .arrow-switcher;
    @include border-radius($arrow-flat-round $arrow-flat-radius $arrow-flat-radius $arrow-flat-round);
    right: -($arrow-width - 45);

    &:hover {
        right: 0;
    }

    &:before {
        margin-top: -.36em
    }

    &:before, &:after {
        right: 5px;
    }
}
