// ==============
// Card classes
// ==============

div.planner-card {
    @include border-radius(4px, 4px);
    background-color: rgba($card-color, $card-header-alpha);

    width: 88%;
    margin-top: 2px;
    margin-left: 1%;
    position: absolute;
    text-align: center;
    overflow: hidden;

    > .planner-card-time {
        @include border-radius(4px, 4px);
        background-color: rgba($card-color, $card-body-alpha);

        font-weight: bold;
    }

    > .planner-card-title {
        margin-left: 4px;
        white-space: normal;
    }
}


// ================
// User interaction
// ================

div.planner-card.card-small {
    @include animate-ease-fast;

    width: 40%;
}

[draggable] {
    cursor: move;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /* Old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.dragging {
    opacity: $card-drag-alpha;
}
