// ==============
// Column classes
// ==============

.planner-container {
    width: 90%;
    overflow: hidden;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;

    .planner-slider {
        @include animate-ease;

        width: 14%;
        position: relative;
        white-space: nowrap;
    }
}

.planner-column-header {
    width: 100%;
    padding: 5px;
    text-align: center;
    display: inline-block;

    margin-bottom: 60px;
    border-bottom: 5px solid #cccccc;
}

.planner-column {
    width: 100%;
    display: inline-block;

    > div {
      border-bottom: 1px dotted #cccccc;
    }

    > div:nth-child(1) {
      border-top: 2px solid #cccccc;
    }
}
