// ==============
// Column classes
// ==============

.planner-header {
    top: 0px;
    position: fixed;
    width: 99%;
    height: $header-height;
    background-color: $timeslots-background-color;
    display: inline-block;
    overflow: hidden;
    z-index: 1040;

    font-size: $text-size;
    line-height: $line-height;

    .planner-column-header {
        font-size: 14px;
        width: 90%;
        padding: 2.5px;
        text-align: center;
        display: inline-block;
        .planner-column-header-inner {
          border-bottom: 5px solid #cccccc;
        }
    }
}

.planner-container {
    width: 99%;
    overflow: hidden;
    position: relative;
    padding-top: $container-padding;

    .planner-column {
        font-size: 14px;
        padding: 2.5px;
        width: 90%;
        margin-top: 20px;
        display: inline-block;

        > div {
            position: relative;
            border-bottom: 1px dotted #cccccc;
        }

        > div:nth-child(1) {
            border-top: 2px solid #cccccc;
        }
    }
}

.planner-slider {
    @include animate;

    font-size: 0;
    position: relative;
    white-space: nowrap;
}
