// =================
// Timeslots classes
// =================

.planner-timeslots-header {
    width: 10%;
    float: left;
    position: relative;

    background-color: #FFF;
    padding-bottom: 20px;
}

.planner-timeslots {
    width: 10%;
    float: left;
    position: relative;
    padding-right: 15px;
    text-align: center;

    > div:first-child {
      padding-top: 10px;
    }

    > div {
      border-right: 1px solid #cccccc;
    }

    > div:last-child {
      margin-bottom: 10px;
    }
}
