// =================
// Timeslots classes
// =================

.planner-timeslots-header {
    width: 10%;
    min-width: 60px;
    min-height: 35px;
    float: left;
    position: relative;

    background-color: $timeslots-background-color;
    padding-bottom: 20px;
    z-index: 1030;
}

.planner-timeslots {
    width: 10%;
    min-width: 60px;
    float: left;
    position: relative;
    padding-right: 15px;
    text-align: center;

    background-color: $timeslots-background-color;
    z-index: 1030;

    > div:first-child {
        padding-top: 10px;
    }

    > div {
        border-right: 1px solid #cccccc;
    }

    > div:last-child {
        margin-bottom: 10px;
    }
}
