// =========
// Variables
// =========

// Style variables
// ---------------

$card-color: #666666;
$card-header-alpha: 0.3;
$card-body-alpha: 0.6;

// Animations
// ----------

$transition-duration: 0.5s;
