// =========
// Variables
// =========

// Main
// ----

$line-height: 1.42858;
$text-size: 14px;

// Generic planner variables
// -------------------------

$timeslots-width: 10%;
$timeslots-background-color: #FFF;
$slider-width: 100 - $timeslots-width;
$header-height: 60px;

// Container
// ---------

$container-padding: $header-height + 5;

// Card
// ----

$card-color: #57adc1;
$card-header-alpha: 0.3;
$card-body-alpha: 0.6;
$card-drag-alpha: 0.4;

// Animations
// ----------

$transition: 0.5s;
$transition-fast: 0.1s;
