<div class="planner-scroller">
    <div class="planner-container">
        <div class="planner-timeslots">
          {{#each rowLabels}}
            {{> timeslot}}
          {{/each}}
        </div>
        <div class="planner-slider">
          {{#each columnLabels}}
              <div class="planner-column" data-column-id="{{id}}">
                {{#each ../rowLabels}}
                  {{#times ../../timeslots}}
                      <div></div>
                  {{/times}}
                {{/each}}
              </div>
          {{/each}}
        </div>
    </div>
</div>

<div class="planner-header">
    <div class="planner-timeslots-header"></div>
    <div class="planner-slider">
      {{#each columnLabels}}
          <div class="planner-column-header"><div class="planner-column-header-inner">{{name}}</div></div>
      {{/each}}
    </div>
</div>

<div class="arrow-switcher arrow-left"></div>
<div class="arrow-switcher arrow-right"></div>
