<div class="js-header">
    {{> header}}
</div>
<div class="planner-body">
    <div class="planner-timeslots">
        {{#each rows}}
            {{> timeslot}}
        {{/each}}
    </div>
    <div class="planner-columns">
        <div class="planner-columns-overflow">
            {{#each columns}}
                <div class="column">
                    <div class="column-header">{{name}}</div>
                    {{#each ../rows}}
                        {{#times ../../timeslots}}
                            <div></div>
                        {{/times}}
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
