<div class="planner-header">
    <div class="planner-timeslots-header"></div>
    <div class="planner-slider">
        {{#each columnLabels}}
            <div class="planner-column-header" data-column-id="{{id}}">{{name}}</div>
        {{/each}}
    </div>
</div>

<div class="planner-container">
    <div class="arrow-switcher arrow-left"></div>
    <div class="planner-timeslots">
        {{#each rowLabels}}
            {{> timeslot}}
        {{/each}}
    </div>
    <div class="planner-slider">
        {{#each columnLabels}}
            <div class="planner-column">
                {{#each ../rowLabels}}
                    {{#times ../../timeslots}}
                        <div></div>
                    {{/times}}
                {{/each}}
            </div>
        {{/each}}
    </div>
    <div class="arrow-switcher arrow-right"></div>
</div>
