// ====================
// Main planner classes
// ====================

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div[data-planner=container] {
    font-size: $text-size;
    line-height: $line-height;
}

.planner-scroller {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
